body {
  background-image: url("bg-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.card {
  margin-top: 60px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}

.card-title {
  color: #dc3545;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

.btn-danger:focus {
  background-color: #c82333;
   }
